<% provide :title, "Log in" %>
<h3>Log in</h3>
<%= form_for :session, url: login_path, html: {class: "col s12"} do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <%= f.email_field :email, class: "validate", id: "email" %>
      <%= f.label "Email", for: "email" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">vpn_key</i>
      <%= f.password_field :password, class: "validate", id: "password" %>
      <%= f.label "Password", for: "password" %>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <%= f.check_box :remember_me, type: "checkbox", id: "test1" %>
      <%= f.label "Remember me on this computer", for: "test1"  %>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <button class="btn waves-effect waves-light">
        <%= f.submit "Log in" %>
        <i class="material-icons right">done</i>
      </button>
    </div>
  </div>
<% end %>

