<%= form_for @micropost do |f| %>
  <%= render "shared/error", object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: t(".title") %>
    <%= f.text_area :content, class: "materialize-textarea", placeholder: t(".compose") %>
  </div>
  <%= f.submit t(".post"), class: "btn light-blue" %>
<% end %>
