<%= form_for @micropost do |f| %>
  <%= render "shared/error", object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :content, class: "materialize-textarea", placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn light-blue" %>
<% end %>
