<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><%= t ".blog" %></h5>
        <p class="grey-text text-lighten-4"><%= t ".welcome" %></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><%= t ".social" %></h5>
        <ul>
          <li><%= link_to t(".fb"), "https://facebook.com", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to t(".ins"), "https://instagram.com", class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%= t ".copyright" %>
      <%= link_to t(".ngoctuan"), "https://google.com", class: "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
